<div class="container">
  <table mat-table [dataSource]="items" class="mat-elevation-z8">

    <ng-container [matColumnDef]="col" *ngFor="let col of columnsToShow()">
      <th mat-header-cell *matHeaderCellDef> {{col}} </th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>

  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="triggerEdit(element.id)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="triggerDelete(element.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
  </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="columns.length">No existen registros</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
