.container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
  width: 70%;
}

.container-table {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
